* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url(../images/background.jpg) top left / cover;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.drumKeys {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drumKeys ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.drumKeys li {
    width: 70px;
    height: 70px;
    background: #000;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: ease all 0.3s;
}

.drumKeys li.active {
    box-shadow: 0px 0px 11px #ffc107;
    border: 1px solid #ffc107;
    transform: scale(1.2);
}